/*todo: remove css and use CSS in JSX ( Styled components etc..) */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0d0e15;
  color: #fff;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace;
}

.tab {
  height: 40px;
  max-width: 190px;
  background-color: #121c20;
  border: 1px solid #1f282c;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}
.button {
  padding: 3px 12px;
  line-height: 20px;
  font-size: 12px;
  background-color: #21262d;
  border: 1px solid #30363d;
  color: white;
  box-shadow: 0 0 transparent;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover,
[open] > .button {
  background-color: #30363d;
  border-color: #8b949e;
  transition-duration: 0.1s;
}

.tab:hover {
  background-color: #22343c;
}

.activeTab:hover {
  background-color: #0070f3;
}

.activeTab {
  background-color: #186ce9;
  border: 1px solid #295fa8;
}

.rightTab {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: none;
}

.leftTab {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 0;
}

.header {
  padding: 1rem 0;
  width: 100%;
}

.main {
  padding: 1rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #0d0e15;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
